<div class="outerDiv pinkBg home">
    <div class="innerDiv card">
        <h4 class="text-center">Forgot Password</h4>
        <form (submit)="recover()" #forgotPasswordForm="ngForm">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 input-field">
                    <label for="email" class="">Registered Email ID </label>
                    <input type="email" name="email" [(ngModel)]="accountRecovery.email" required="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                    <button type="submit" class="waves-effect waves-light btn" [disabled]="requestSubmitted">Submit</button>
                    <a href="./login" class="waves-effect waves-light btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>