<div class="outerDiv pinkBg home">
    <div class="innerDiv card">
        <h4 class="text-center">Login</h4>
        <form (submit)="login()" #loginForm="ngForm">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 input-field">
                    <label for="" class="">User ID: </label>
                    <input type="text" name="username" [(ngModel)]="username" required="">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 input-field">
                    <div>
                        <label for="" class="">Password: </label>
                        <input type="password" name="password" [(ngModel)]="password" required="">
                    </div>
                    <div *ngIf="err">
                        Invalid username or password
                    </div>
                    <div>
                        <a href="/forgot-password">Forgot Password?</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                    <button class="waves-effect waves-light btn loginBut">Login</button>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                    <a href="./registration">New User</a>
                </div>
            </div>

        </form>
    </div>
</div>